@use "../../css_constant/main_constant" as main;

.searchBar {
    width: 100%;
    padding: 40px 0;
    background: main.$grey_color;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .searchBlock {
        width: 70%;
        display: grid;
        grid-template-columns: 4fr 0.5fr;
        column-gap: 20px;
        input {
            height: main.$search_height;
        }
        .searchButton {
            height: main.$search_height;
            background-color: #4a11a5;
            font-size: 20px;
        }
    }
}
