@use "../../css_constant/main_constant" as main;

.header {
    width: 100%;
    padding: 10px 0;

    .mainNav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: main.$header_height;
    }
    .logo {
        text-decoration: none;
    }

    .nav {
        a {
            text-transform: uppercase;
            text-decoration: none;
            font-size: 18px;
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                color: #4096ff;
            }
        }
        .active {
            color: #4a11a5;
        }
    }
}
