@use "./css_constant/main_constant" as main;

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #000000;
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0 auto;
}

.wrapper {
    width: main.$main_container_size;

    @media (max-width: 1240px) {
        width: 980px;
    }
}

.main_container_box {
    display: flex;
    align-items: center;
    justify-content: center;
}
